In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Data Preporcessing

In [3]:
lisdata = pd.read_csv('Airbnbcsv/listings.csv')
lisdata.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2992450,https://www.airbnb.com/rooms/2992450,20240905032005,2024-09-05,city scrape,Luxury 2 bedroom apartment,The apartment is located in a quiet neighborho...,NaN,https://a0.muscache.com/pictures/44627226/0e72...,4621559,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
1,3820211,https://www.airbnb.com/rooms/3820211,20240905032005,2024-09-05,city scrape,Restored Precinct in Center Sq. w/Parking,"Cozy, cool little 1BR Apt in the heart Albany'...","Great restaurants, architecture, walking, peop...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.81,4.82,4.78,NaN,f,4,4,0,0,2.49
2,5651579,https://www.airbnb.com/rooms/5651579,20240905032005,2024-09-05,city scrape,Large studio apt by Capital Center & ESP@,"Spacious studio with hardwood floors, fully eq...",The neighborhood is very eclectic. We have a v...,https://a0.muscache.com/pictures/b3fc42f3-6e5e...,29288920,...,4.87,4.76,4.63,NaN,f,2,1,1,0,3.22
3,6623339,https://www.airbnb.com/rooms/6623339,20240905032005,2024-09-05,city scrape,Center Sq. Loft in Converted Precinct w/ Parking,Large renovated 1 bedroom apartment in convert...,"Located in Albany's finest urban neighborhood,...",https://a0.muscache.com/pictures/prohost-api/H...,19648678,...,4.70,4.80,4.72,NaN,f,4,4,0,0,2.91
4,8035768,https://www.airbnb.com/rooms/8035768,20240905032005,2024-09-05,city scrape,Entire Beautiful French Victorian 1884,Stunningly renovated French Victorian original...,There is a Barbershop with 1900' barber chairs...,https://a0.muscache.com/pictures/103429331/a0a...,42430824,...,4.80,4.74,4.75,NaN,f,2,1,1,0,0.51

In [4]:
calendata = pd.read_csv('Airbnbcsv/calendar.csv')
calendata.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2992450,2024-09-05,f,$70.00,NaN,28,1125
1,2992450,2024-09-06,f,$70.00,NaN,28,1125
2,2992450,2024-09-07,f,$70.00,NaN,28,1125
3,2992450,2024-09-08,f,$70.00,NaN,28,1125
4,2992450,2024-09-09,f,$70.00,NaN,28,1125

In [5]:
mergedata = pd.merge(calendata, lisdata, left_on='listing_id', right_on='id', how='inner')
mergedata.head()

,listing_id,date,available,price_x,adjusted_price,minimum_nights_x,maximum_nights_x,id,listing_url,scrape_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2992450,2024-09-05,f,$70.00,NaN,28,1125,2992450,https://www.airbnb.com/rooms/2992450,20240905032005,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
1,2992450,2024-09-06,f,$70.00,NaN,28,1125,2992450,https://www.airbnb.com/rooms/2992450,20240905032005,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
2,2992450,2024-09-07,f,$70.00,NaN,28,1125,2992450,https://www.airbnb.com/rooms/2992450,20240905032005,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
3,2992450,2024-09-08,f,$70.00,NaN,28,1125,2992450,https://www.airbnb.com/rooms/2992450,20240905032005,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07
4,2992450,2024-09-09,f,$70.00,NaN,28,1125,2992450,https://www.airbnb.com/rooms/2992450,20240905032005,...,4.56,3.22,3.67,NaN,f,1,1,0,0,0.07

In [6]:
mergedata.isnull().sum()

listing_id                                           0
date                                                 0
available                                            0
price_x                                              0
adjusted_price                                  155490
                                                 ...
calculated_host_listings_count                       0
calculated_host_listings_count_entire_homes          0
calculated_host_listings_count_private_rooms         0
calculated_host_listings_count_shared_rooms          0
reviews_per_month                                21900
Length: 82, dtype: int64

In [7]:
mergedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155490 entries, 0 to 155489
Data columns (total 82 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   listing_id                                    155490 non-null  int64
 1   date                                          155490 non-null  object
 2   available                                     155490 non-null  object
 3   price_x                                       155490 non-null  object
 4   adjusted_price                                0 non-null       float64
 5   minimum_nights_x                              155490 non-null  int64
 6   maximum_nights_x                              155490 non-null  int64
 7   id                                            155490 non-null  int64
 8   listing_url                                   155490 non-null  object
 9   scrape_id                                     155490 non-null  int64
 10  last_scraped                                  155490 non-null  object
 11  source                                        155490 non-null  object
 12  name                                          155490 non-null  object
 13  description                                   150745 non-null  object
 14  neighborhood_overview                         83220 non-null   object
 15  picture_url                                   155490 non-null  object
 16  host_id                                       155490 non-null  int64
 17  host_url                                      155490 non-null  object
 18  host_name                                     155490 non-null  object
 19  host_since                                    155490 non-null  object
 20  host_location                                 123370 non-null  object
 21  host_about                                    83950 non-null   object
 22  host_response_time                            148555 non-null  object
 23  host_response_rate                            148555 non-null  object
 24  host_acceptance_rate                          150380 non-null  object
 25  host_is_superhost                             152935 non-null  object
 26  host_thumbnail_url                            155490 non-null  object
 27  host_picture_url                              155490 non-null  object
 28  host_neighbourhood                            129210 non-null  object
 29  host_listings_count                           155490 non-null  int64
 30  host_total_listings_count                     155490 non-null  int64
 31  host_verifications                            155490 non-null  object
 32  host_has_profile_pic                          155490 non-null  object
 33  host_identity_verified                        155490 non-null  object
 34  neighbourhood                                 83220 non-null   object
 35  neighbourhood_cleansed                        155490 non-null  object
 36  neighbourhood_group_cleansed                  0 non-null       float64
 37  latitude                                      155490 non-null  float64
 38  longitude                                     155490 non-null  float64
 39  property_type                                 155490 non-null  object
 40  room_type                                     155490 non-null  object
 41  accommodates                                  155490 non-null  int64
 42  bathrooms                                     146000 non-null  float64
 43  bathrooms_text                                155490 non-null  object
 44  bedrooms                                      153665 non-null  float64
 45  beds                                          145270 non-null  float64
 46  amenities                                     155490 non-null  object
 47  price_y                                       146000 non-null  object
 48  minimum_nights_y                              155490 non-null  int64
 49  maximum_nights_y                              155490 non-null  int64
 50  minimum_minimum_nights                        155490 non-null  int64
 51  maximum_minimum_nights                        155490 non-null  int64
 52  minimum_maximum_nights                        155490 non-null  int64
 53  maximum_maximum_nights                        155490 non-null  int64
 54  minimum_nights_avg_ntm                        155490 non-null  float64
 55  maximum_nights_avg_ntm                        155490 non-null  float64
 56  calendar_updated                              0 non-null       float64
 57  has_availability                              153665 non-null  object
 58  availability_30                               155490 non-null  int64
 59  availability_60                               155490 non-null  int64
 60  availability_90                               155490 non-null  int64
 61  availability_365                              155490 non-null  int64
 62  calendar_last_scraped                         155490 non-null  object
 63  number_of_reviews                             155490 non-null  int64
 64  number_of_reviews_ltm                         155490 non-null  int64
 65  number_of_reviews_l30d                        155490 non-null  int64
 66  first_review                                  133590 non-null  object
 67  last_review                                   133590 non-null  object
 68  review_scores_rating                          133590 non-null  float64
 69  review_scores_accuracy                        133590 non-null  float64
 70  review_scores_cleanliness                     133590 non-null  float64
 71  review_scores_checkin                         133590 non-null  float64
 72  review_scores_communication                   133590 non-null  float64
 73  review_scores_location                        133590 non-null  float64
 74  review_scores_value                           133590 non-null  float64
 75  license                                       0 non-null       float64
 76  instant_bookable                              155490 non-null  object
 77  calculated_host_listings_count                155490 non-null  int64
 78  calculated_host_listings_count_entire_homes   155490 non-null  int64
 79  calculated_host_listings_count_private_rooms  155490 non-null  int64
 80  calculated_host_listings_count_shared_rooms   155490 non-null  int64
 81  reviews_per_month                             133590 non-null  float64
dtypes: float64(19), int64(26), object(37)
memory usage: 97.3+ MB

In [9]:
mergedata.describe()

,listing_id,adjusted_price,minimum_nights_x,maximum_nights_x,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.554900e+05,0.0,155490.000000,155490.000000,1.554900e+05,1.554900e+05,1.554900e+05,155490.000000,155490.000000,0.0,...,133590.000000,133590.000000,133590.000000,133590.000000,0.0,155490.000000,155490.000000,155490.000000,155490.000000,133590.000000
mean,6.048429e+17,NaN,6.202695,749.745578,6.048429e+17,2.024091e+13,2.226169e+08,23.424883,40.791080,NaN,...,4.859290,4.871175,4.670656,4.729508,NaN,5.694836,4.312207,1.377934,0.004695,2.145137
std,4.701078e+17,NaN,21.736957,424.313620,4.701078e+17,0.000000e+00,1.846937e+08,141.748299,271.383632,NaN,...,0.252152,0.264232,0.372055,0.311039,NaN,6.235299,6.294715,2.770643,0.068358,2.103765
min,2.992450e+06,NaN,1.000000,1.000000,2.992450e+06,2.024091e+13,6.490680e+05,1.000000,1.000000,NaN,...,3.000000,3.000000,3.000000,3.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.030000
25%,5.021123e+07,NaN,1.000000,365.000000,5.021123e+07,2.024091e+13,4.762598e+07,2.000000,2.000000,NaN,...,4.830000,4.860000,4.530000,4.670000,NaN,1.000000,1.000000,0.000000,0.000000,0.570000
50%,7.545450e+17,NaN,2.000000,1125.000000,7.545450e+17,2.024091e+13,1.855943e+08,4.000000,5.000000,NaN,...,4.940000,4.950000,4.795000,4.800000,NaN,3.000000,2.000000,0.000000,0.000000,1.450000
75%,1.014739e+18,NaN,3.000000,1125.000000,1.014739e+18,2.024091e+13,3.829705e+08,9.000000,12.000000,NaN,...,5.000000,5.000000,4.930000,4.930000,NaN,8.000000,4.000000,1.000000,0.000000,3.040000
max,1.237964e+18,NaN,365.000000,1125.000000,1.237964e+18,2.024091e+13,5.808926e+08,1208.000000,2310.000000,NaN,...,5.000000,5.000000,5.000000,5.000000,NaN,25.000000,25.000000,11.000000,1.000000,11.220000